/* Hello World App CSS */
* { box-sizing: border-box; }

body {
  width: 720px;
  margin-top: 30px;
  margin: auto;
  
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 100;
}

h6 {
  font-size: 26px;
}

/* Task Header */
#task-header {
  border-bottom: 1px solid lightgrey;
}
.inline-header {
  display: inline-block;
}

.right {
  float: right;
}

/* Task container */
#task-box {
  width: 100%;
  margin-bottom: 40px;
  background: rgb(182, 223, 236);
}

#task-box p {
  margin: 0;
  padding: 10px;
}

#task-list {
  list-style-type: none;
}

#new-task {
  width: 225px;
}

li {
  margin-bottom: 5px;
}

li.completed {
  text-decoration: line-through;
  color: #888;
  font-style: italic;
}

.task-check {
  margin-right: 10px;
}
input {
  padding: 4px 8px;
}

input[type="submit"] {
  background: white;
  border: 1px solid lightgrey;
  padding: 5px 12px;
  font-size: 18px;
  border-radius: 2px;
  color: #888;
}

input[type="submit"]:hover {
  background: rgb(60, 171, 233);
  color: white;
  border-color: rgb(31, 144, 207);
}

input[type="submit"]:active {
  background: rgb(31, 144, 207);
  color: white;
  border-color: rgb(31, 144, 207);
}

input[type="submit"]:focus {
  outline: none;
}
